<!DOCTYPE html>
<html lang="en" class="bg-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>QR Scanner</title>
		<link rel="stylesheet" href="/css/styleOUT.css" />
	</head>
	<body>
		<video
			id="qr-video"
			class="m-auto mt-20"
			height="auto"
			style="max-width: 100%"
		></video>

		<div class="flex flex-col-reverse fixed top-0 mt-4 ms-4">
			<div id="alert-container" class="flex-grow"></div>
		</div>

		<script src="/js/jsqr.js"></script>
		<script>
			let Sudah = [];
			let Sudah2 = [];
			// Function to start the QR scanner
			function startScanner() {
				navigator.mediaDevices
					.getUserMedia({ video: { facingMode: "environment" } })
					.then((stream) => {
						const video = document.getElementById("qr-video");
						video.srcObject = stream;
						video.play();
						video.onloadedmetadata = () => {
							const canvas = document.createElement("canvas");
							const context = canvas.getContext("2d");
							canvas.width = video.videoWidth;
							canvas.height = video.videoHeight;
							const interval = setInterval(() => {
								context.drawImage(video, 0, 0, canvas.width, canvas.height);
								const imageData = context.getImageData(
									0,
									0,
									canvas.width,
									canvas.height
								);
								const code = jsQR(imageData.data, canvas.width, canvas.height);
								if (code) {
									if (isJSON(code.data)) {
										const { username, nama, kelas } = JSON.parse(code.data);
										if (Sudah.includes(username)) {
											if (Sudah2.includes(username)) {
												return;
											}
											// warns
											appendWarn(`${nama} - ${kelas} Sudah Absen`);
											Sudah2.push(username);
											return;
										}
										Sudah.push(username);
										// LOGIKA LOGIN MU DI SINI, KU SARANIN BUAT API ENDPOINT DI ADMIN
										fetch("./api/send", {
											body: JSON.stringify({ username, kelas, nama }),
											method: "POST",
											headers: {
												"Content-Type": "application/json",
											},
										}).then((res) =>{
                      res.json().then((res)=>{
                        appendAlert(res.message);
                      })
                    })
										return;
									} else {
										console.log("NO");
										alert("QR mu bukan absen");
									}
									// appendAlert('QR code detected! Content: ' + code.data);
								}
							}, 100);
						};
					})
					.catch((err) => {
						console.error("Error accessing camera:", err);
						appendAlert(
							"Error accessing camera. Please make sure camera access is allowed."
						);
					});
			}

			function isJSON(str) {
				try {
					JSON.parse(str);
					return true;
				} catch (e) {
					return false;
				}
			}

			// Function to append new alert
			function appendAlert(message) {
				const alertContainer = document.getElementById("alert-container");
				const alertElement = document.createElement("div");
				alertElement.className = "join rounded-box w-full";
				alertElement.innerHTML = `
        <div class="join-item p-4 bg-success text-success-content text-xl">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
        </div>
        <div class="join-item flex flex-col py-2 px-4 bg-base-200">
            <h3 class="text-success font-bold">Success</h3>
            <span class="text-sm">${message}</span>
        </div>`;
				alertContainer.prepend(alertElement);
				setTimeout(() => {
					alertElement.remove();
				}, 5000); // Remove the alert after 5 seconds
			}

			function appendWarn(message) {
				const alertContainer = document.getElementById("alert-container");
				const alertElement = document.createElement("div");
				alertElement.className = "join rounded-box w-full";
				alertElement.innerHTML = `
        <div class="join-item p-4 bg-warning  text-warning -content text-xl">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
        </div>
        <div class="join-item flex flex-col py-2 px-4 bg-base-200">
            <h3 class="text-warning font-bold">Warning</h3>
            <span class="text-sm">${message}</span>
        </div>`;
				alertContainer.prepend(alertElement);
				setTimeout(() => {
					alertElement.remove();
				}, 5000); // Remove the alert after 5 seconds
			}

			// Call the function to start the scanner
			startScanner();
		</script>
		<div class="fixed w-full bottom-0">
			<nav class="navbar justify-center bg-base-300">
				<ul class="menu menu-horizontal flex-nowrap overflow-x-auto">
					<li>
						<a class="active">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								class="w-6 h-6"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0 1 3.75 9.375v-4.5ZM3.75 14.625c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 0 1-1.125-1.125v-4.5ZM13.5 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0 1 13.5 9.375v-4.5Z"
								/>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M6.75 6.75h.75v.75h-.75v-.75ZM6.75 16.5h.75v.75h-.75v-.75ZM16.5 6.75h.75v.75h-.75v-.75ZM13.5 13.5h.75v.75h-.75v-.75ZM13.5 19.5h.75v.75h-.75v-.75ZM19.5 13.5h.75v.75h-.75v-.75ZM19.5 19.5h.75v.75h-.75v-.75ZM16.5 16.5h.75v.75h-.75v-.75Z"
								/>
							</svg>
							Scan Absensi
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</body>
</html>
