<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleOUT.css">
    <link rel="stylesheet" href="/css/input.css">
</head>
<body>
    <nav class="bg-sky-400 h-10">
        <div>
            <img src="/image/profilepicture.jpeg" alt="profilepicture" class="w-11 float-end flex pr-1" >
            <div class="flex ml-3 items-center text-2xl font-semibold font-sans text-blue-900">
                HOME
            </div>
        </div>
    </nav>

   <div id="notification">
   </div>
   <div class="font-bold text-7xl justify-center my-40 text-white flex">
    Halo selamat datang <br> <%= username%> 
</div>
</body>
<script>
window.onload = function() {
    const today = new Date();
    const day = today.getDay(); // deklarasikan hari dalam bentuk angka (0 = Minggu, 1 = Senin, selanjutnya itung sendiri bjir)
    const daysValue = [2, 3, 4];

    // buat element anchor
    const profileLink = document.createElement('a');
    profileLink.textContent = 'disini';
    profileLink.href = '/profile';
    profileLink.classList.add('text-red-600');

    // buat element paragraph
    const paragraphElement = document.createElement('p');
    paragraphElement.textContent = `Kamu memiliki 1 kegiatan yang harus dilakukan, klik `;
    paragraphElement.appendChild(profileLink); // Tambahin element anchor ke paragraph

    // tambahin paragraph ke dalam div dengan id 'notification'
    const notificationDiv = document.getElementById('notification');
    notificationDiv.innerHTML = ''; // Menghapus konten sebelumnya

    // kalo 'hari' adalah Selasa, Rabu, atau Kamis (nilai day = 2, 3, atau 4), tambahkan link ke profil di homepage
    if (daysValue.includes(day)) {
        notificationDiv.appendChild(paragraphElement);
    }
    else {
        const notificationDiv = document.getElementById('notification');
            if (notificationDiv) {
                notificationDiv.parentNode.removeChild(notificationDiv);
            }
    }
}
</script>
</html>