<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleOUT.css">
    <link rel="stylesheet" href="/css/input.css">
</head>
<body>
  <div class="flex h-screen items-center justify-center">
    <div class="w-full max-w-md">
        <div class="bg-blue-900 rounded-xl shadow-xl p-6">
            <div class="flex mb-6">
                <div class="bg-custom-blue h-8 w-8 flex items-center justify-center rounded-full mr-2">
                    <svg class="text-white h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 15l-3 3 3 3 3-3-3-3"></path>
                    </svg>
                </div>
                <div class="text-white text-2xl mx-11 flex ">
                    Login Your Account!
                </div>
            </div>
            <form class="mb-4" action="login/auth" method="POST">
                <div class="mb-4">
                    <div class="block text-white font-bold mb-2" for="username">
                        Username
                    </div>
                    <input name="username" class="w-full border-b-2 text-white bg-gray-900 rounded-md pl-4"  id="username" type="text">
                </div>
                <div class="mb-4">
                    <div class="block text-white font-bold mb-2" for="password">
                        Password
                    </div>
                    <input name="pass" class="w-full border-b-2 text-white text-lg bg-gray-900 rounded-md pl-4"  id="password" type="password">
                </div>
                <div class=" justify-between mb-2">
                    <select id="underline_select" name="stats" class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-300 dark:border-white focus:outline-none focus:ring-0 focus:border-white peer">
                        <option>Choose Status</option>
                        <option class="" name="stats" value="AKTIF" selected>User (AKTIF)</option>
                        <option name="stats" value="ADMIN">Administrator</option>
                    </select>
                </div>
                <button type="text" class="bg-teal-500 hover:bg-cyan-600 text-white font-bold py-2 px-40 rounded focus:outline-none focus:shadow-outline flex mx-auto">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>