ini halaman propil

<body>
    <h1>Username: <%= username %></h1> <br>
    <h1>Nama: <%= nama_lengkap %></h1> <br>
    <h1>Kelas: <%= kelas %></h1> <br>
    <h1>Status: <%= status %></h1> <br>
</body>